@use './partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

ul{
    display: flex;
    
    li{
        margin: 5px;
        list-style: none;
        a{
            text-decoration: none;
            color: $color-header-footer;
        }
    }
}

header{
    background-color: $background-header;
    color: $color-header-footer;
    box-shadow: 2px 1px 2px black;
}

footer{
    background-color: $background-footer;
    color: $color-header-footer;
}