@use './partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    
    li{
        margin: 5px;
        list-style: none;
        a{
            text-decoration: none;
            color: $color-header-footer;
        }
    }
}

nav{
    background-color: $background-nav;
    color: $color-header-footer;
}

footer{
    background-color: $background-footer;
    color: $color-header-footer;
}